<kii-page>

<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<h1>{{'test' | translate | async}}</h1>
<button mat-flat-button color="primary">Test of button !</button>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
<p>blog-page works!</p>
</kii-page>